.box {
  background-color: white;
  border: none;
  border-radius: 10%;
  box-shadow: 0px 0px 8px #888;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 5rem;
  margin: 1rem;
}
.box:hover {
  box-shadow: 0px 0px 15px #888;
}

.x {
  color: rgb(230, 223, 48);
}
.o {
  color: rgb(44, 135, 255);
}
